body {
    background-color: aqua;
    color: black;
    font-weight: bolder;
    max-width: 30rem;
    margin: auto;
    border: white 2px solid;
    border-radius: 10px;
}

.contactForm {
    background-color: black;
    color: white;
    max-width: 30rem;
    padding: 2rem;
    border-radius: 10px 10px 0px 0px;
}

.inputField {
    margin-left: 5px;
    padding: 10px;
    margin-top: 5px;
    width: 15rem;
}

.inputField:hover {
    margin-left: 10px;
    background-color: darkgrey;
    color: snow;
    transition: all;
}

.submit {
    background-color: wheat;
    color: black;
    padding: 10px;
    font-weight: bolder;
    margin-top: 15px;
    border-radius: 10px;
}

.submit:hover {
    margin-left: 10px;
    background-color: skyblue;
    color: snow;
    transition: all;
}

.sub {
    text-align: center;
}
